spec:
  inputs:
    do_dependency_scan:
      description: "Run the dependency-scan-gradle job"
      type: boolean
      default: false
    do_image_build:
      description: "Build the container images (auto on develop, staging, release branches)"
      type: boolean
      default: false
    sonar-quality-gate-enabled:
      description: 'Enables SonarQube [Quality Gate](https://docs.sonarsource.com/sonarqube-server/latest/quality-standards-administration/managing-quality-gates/introduction/) verification, except in "develop" branch and "latest" tags.'
      type: boolean
      default: true

---

variables:
  ANDROID_COMPILE_SDK: "34"
  ANDROID_BUILD_TOOLS: "34.0.0"
  ANDROID_SDK_TOOLS: "11076708"
  RELEASE_VERSION_WEB:
    value: latest
    description: "The version of the new release, e.g.:  x.y.z - default tag latest (input from web interface)"
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: /certs
  DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  DOCKER_TLS_VERIFY: "1"


include:
  # adds job dependency-check-gradle
  - component: $CI_SERVER_FQDN/zeta/zeta-ci-cd-components/dependency-check-gradle@v0.4.0
    inputs:
      cli-bin: ./gradlew
      job-stage: testAndAnalysis
      image: "$CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/eclipse-temurin:21-jdk"
    rules:
      # manual trigger
      - if: '"$[[ inputs.do_dependency_scan ]]" == "true"'
      # or scheduled
      - if: $CI_PIPELINE_SOURCE == "schedule"
      # always run dependency check on tags
      - if: $CI_COMMIT_TAG != null

workflow:
  rules:
    # basically disables RELEASE_VERSION_WEB. Build results get tagged with a version only if running on a git tag
    - if: '$RELEASE_VERSION_WEB != "latest" && $CI_COMMIT_TAG == null'
      when: never
    # check new commits on merge requests
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # web-based requests
    - if: '$CI_PIPELINE_SOURCE == "web" && $RELEASE_VERSION_WEB != null && $RELEASE_VERSION_WEB != ""'
    # auto-build branch tags on merge
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_BRANCH == "release"'
    - when: never

default:
  image: $CI_REGISTRY/zeta/zeta-client/zeta-sdk/android-image:latest
  tags: [ zeta ]
  before_script:
    - chmod +x ./gradlew
  cache:
    # cache valid only for a specific pipeline instance
    key: $CI_PIPELINE_ID
    paths:
      - "**/build"
      - "build-cache"
  services:
    - name: docker:24.0.5-dind
      variables:
        HEALTHCHECK_TCP_PORT: "2376"

stages:
  - testAndAnalysis
  - build
  - publish
  - image_build
  - container_scan

# define the release version variable, that determines the tag in the repositories
# this is included (referenced) in the various build stages/jobs
.variables_template: &variables_template
  variables:
    SONAR_QUALITY_GATE_ENABLED: $[[ inputs.sonar-quality-gate-enabled ]]
    RELEASE_VERSION: $RELEASE_VERSION_WEB
  rules:
    # if on a tag, set the release version to the tag
    - if: $CI_COMMIT_TAG != null
      variables:
        RELEASE_VERSION: $CI_COMMIT_TAG
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop" && $RELEASE_VERSION_WEB == "latest"
      variables:
        SONAR_QUALITY_GATE_ENABLED: "false"
        RELEASE_VERSION: "develop-mr-$CI_COMMIT_SHORT_SHA"
    - if: $CI_COMMIT_BRANCH == "develop" && $RELEASE_VERSION_WEB == "latest"
      variables:
        SONAR_QUALITY_GATE_ENABLED: "false"
        RELEASE_VERSION: "develop"
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "staging" && $RELEASE_VERSION_WEB == "latest"
      variables:
        SONAR_QUALITY_GATE_ENABLED: "true"
        RELEASE_VERSION: "staging-mr-$CI_COMMIT_SHORT_SHA"
    - if: $CI_COMMIT_BRANCH == "staging" && $RELEASE_VERSION_WEB == "latest"
      variables:
        SONAR_QUALITY_GATE_ENABLED: "true"
        RELEASE_VERSION: "staging"
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "release" && $RELEASE_VERSION_WEB == "latest"
      variables:
        SONAR_QUALITY_GATE_ENABLED: "true"
        RELEASE_VERSION: "release-mr-$CI_COMMIT_SHORT_SHA"
    - if: $CI_COMMIT_BRANCH == "release" && $RELEASE_VERSION_WEB == "latest"
      variables:
        SONAR_QUALITY_GATE_ENABLED: "true"
        RELEASE_VERSION: "release"

.image_template: &image_template
  image: $CI_REGISTRY/zeta/devops/ci-images/docker:24.0.5-zeta-0
  needs: [build]
  <<: *variables_template
  rules:
    - !reference [ .variables_template, rules]
    - if: '"$[[ inputs.do_image_build ]]" == "true"'
    - when: never

.gradle_template: &gradle_template
  <<: *variables_template
  rules:
    - !reference [ .variables_template, rules]
    - when: on_success

########################################################################
# gradle jobs

test:
  <<: *gradle_template
  stage: testAndAnalysis
  script:
    - echo "value of RUNNING_ON_CI is -$RUNNING_ON_CI-"
    - echo "value of TF_BUILD is -$TF_BUILD-"
    - echo "value of CI is -$CI-"
    - echo "value of RELEASE_VERSION is -$RELEASE_VERSION-"
    - echo "value of RELEASE_VERSION_WEB is -$RELEASE_VERSION_WEB-"
    - echo "value of SONAR_QUALITY_GATE_ENABLED is -$SONAR_QUALITY_GATE_ENABLED-"
    - echo "value of CI_COMMIT_REF_NAME is -$CI_COMMIT_REF_NAME-"
    - echo "value of CI_MERGE_REQUEST_TARGET_BRANCH_NAME is -$CI_MERGE_REQUEST_TARGET_BRANCH_NAME-"
    # store in .m2 for sonar/kover to pick up for Java client
    - ./gradlew publishJvmPublicationToMavenLocal publishKotlinMultiplatformPublicationToMavenLocal
    # check for local .m2 repo content and build cache
    - find / -name build-cache 2>/dev/null || true
    - find /root/.m2 -name \*.pom 2>/dev/null || true
    # tests, analysis
    - ./gradlew testAll :koverXmlReport koverLog
    # show result files
    - find /builds -name \*.xml 2>/dev/null
  artifacts:
    when: always
    paths:
      - "**/report.xml"
      - "**/coverage.txt"
    reports:
      coverage_report:
        coverage_format: jacoco
        path: "**/report.xml"

lint:
  <<: *gradle_template
  stage: testAndAnalysis
  script:
    - ./gradlew ktLint lintDebug
  allow_failure: true
  artifacts:
    when: always
    paths:
      - "**/ktlint.xml"
      - "**/lint-results-debug.html"
      - "**/lint-results-debug.xml"

detekt:
  <<: *gradle_template
  stage: testAndAnalysis
  script:
    - ./gradlew detekt
  allow_failure: true
  artifacts:
    when: always
    paths:
      - "**/detekt.html"
      - "**/detekt.xml"
sonar:
  <<: *gradle_template
  stage: testAndAnalysis
  needs:
    - job: test
      artifacts: true
    - job: lint
      artifacts: true
    - job: detekt
      artifacts: true
    - job: dependency-check-gradle
      artifacts: true
      optional: true

  script:
    # store in .m2 for sonar/kover to pick up for Java client
    - ./gradlew publishJvmPublicationToMavenLocal publishKotlinMultiplatformPublicationToMavenLocal
    # check for local .m2 repo content and build cache
    - find / -name build-cache 2>/dev/null || true
    - find /root/.m2 -name \*.pom 2>/dev/null
    - >-
      ./gradlew
      sonar ${TRACE+-Dsonar.verbose=true} ${SONAR_QUALITY_GATE_ENABLED+-Dsonar.qualitygate.wait=$SONAR_QUALITY_GATE_ENABLED}
      -Dsonar.links.homepage=${CI_PROJECT_URL}
      -Dsonar.links.ci=${CI_PROJECT_URL}/-/pipelines
      -Dsonar.links.issue=${CI_PROJECT_URL}/-/issues
      -Dsonar.exclusions=ktor-client-curl/**

build:
  <<: *gradle_template
  stage: build
  script:
    - ./gradlew assemblePullRequest

build_dokka:
  <<: *gradle_template
  stage: build
  script:
    - ./gradlew dokkaGeneratePublicationHtml
  artifacts:
    when: always
    paths:
      - "**/dokka"
      - "**/dokka-module"
sbom:
  <<: *gradle_template
  stage: build
  script:
    - ./gradlew cyclonedxBom
  artifacts:
    when: always
    paths:
      - "**/build/reports/cyclonedx/bom.json"
      - "**/build/reports/cyclonedx/bom.xml"

publish:
  <<: *gradle_template
  stage: publish
  script:
    - ./gradlew publish
  dependencies:
    - build

publish_artifacts:
  stage: publish
  rules:
    - if: $CI_COMMIT_TAG
      variables:
        COMMIT_MESSAGE: "$CI_COMMIT_TAG"
        COMMIT_TAG: "tag-$CI_COMMIT_TAG-$CI_COMMIT_SHORT_SHA"
      when: on_success
    - if: $CI_COMMIT_BRANCH == "staging"
      variables:
        COMMIT_MESSAGE: "staging $CI_COMMIT_SHORT_SHA"
        COMMIT_TAG: "staging-$CI_COMMIT_SHORT_SHA"
      when: on_success
    - if: $CI_COMMIT_BRANCH == "release"
      variables:
        COMMIT_MESSAGE: "release $CI_COMMIT_SHORT_SHA"
        COMMIT_TAG: "release-$CI_COMMIT_SHORT_SHA"
      when: on_success
    - when: never
  needs:
    - job: test
      artifacts: true
    - job: lint
      artifacts: true
    - job: detekt
      artifacts: true
    - job: dependency-check-gradle
      artifacts: true
      optional: true
    - job: sbom
      artifacts: true
  script:
    - git clone https://zeta-sdk:${REPORTING_TOKEN}@${CI_SERVER_FQDN}/zeta/reporting.git
    - mkdir -p ./reporting/zeta-sdk/
    - find . -path ./reporting -prune -o -name 'report.xml' -exec cp --parents '{}' ./reporting/zeta-sdk/ \;
    - find . -path ./reporting -prune -o -name 'ktlint.xml' -exec cp --parents '{}' ./reporting/zeta-sdk/ \;
    - find . -path ./reporting -prune -o -name 'lint-results-debug.xml' -exec cp --parents '{}' ./reporting/zeta-sdk/ \;
    - find . -path ./reporting -prune -o -name 'detekt.xml' -exec cp --parents '{}' ./reporting/zeta-sdk/ \;
    - find . -path ./reporting -prune -o -name 'bom.json' -exec cp --parents '{}' ./reporting/zeta-sdk/ \;
    - cd reporting
    - git config user.email "ci@${CI_SERVER_FQDN}"
    - git config  user.name "ci"
    - git add .
    - git commit -m "$COMMIT_MESSAGE"
    - git push
    - git tag -a "zeta-sdk-$COMMIT_TAG" -m "zeta-sdk build $COMMIT_MESSAGE"
    - git push origin "zeta-sdk-$COMMIT_TAG"

########################################################################
# image jobs

.build_matrix: &build_matrix
  parallel:
    matrix:
      - PLATFORM: []

.check_matrix: &check_matrix
  parallel:
    matrix:
      - PLATFORM: ["testdriver"]


build-image:
  <<: *image_template
  <<: *build_matrix
  stage: image_build
  script:
    - printf "%s" "$CI_DEPENDENCY_PROXY_PASSWORD" | docker login "$CI_DEPENDENCY_PROXY_SERVER" -u "$CI_DEPENDENCY_PROXY_USER" --password-stdin
    - printf "%s" "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
    - docker build -t "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/"$PLATFORM"-image:$RELEASE_VERSION -f Dockerfile."$PLATFORM" .
    - docker push "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/"$PLATFORM"-image:$RELEASE_VERSION
    - docker tag "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/"$PLATFORM"-image:$RELEASE_VERSION "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/"$PLATFORM"-image:$RELEASE_VERSION-$CI_COMMIT_SHORT_SHA
    - docker push "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/"$PLATFORM"-image:$RELEASE_VERSION-$CI_COMMIT_SHORT_SHA


build-package-testdriver:
  # requires image_template due to the when: never default rule
  <<: *image_template
  image: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/eclipse-temurin:21-jdk
  stage: image_build
  script:
    - ./gradlew publishJvmPublicationToMavenLocal
    - ./gradlew publishKotlinMultiplatformPublicationToMavenLocal
    - ./gradlew clean jar copyRuntimeLibs
  artifacts:
    expire_in: 1 week
    paths:
      - "**/build/libs/*.jar"
      - "**/build/runtime-libs/*.jar"

build-image-testdriver:
  <<: *image_template
  stage: image_build
  needs: [build-package-testdriver]
  script:
    - printf "%s" "$CI_DEPENDENCY_PROXY_PASSWORD" | docker login "$CI_DEPENDENCY_PROXY_SERVER" -u "$CI_DEPENDENCY_PROXY_USER" --password-stdin
    - printf "%s" "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
    - docker build -t "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/testdriver-image:$RELEASE_VERSION -f zeta-testdriver/Dockerfile .
    - docker push "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/testdriver-image:$RELEASE_VERSION
    - docker tag "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/testdriver-image:$RELEASE_VERSION "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/testdriver-image:$RELEASE_VERSION-$CI_COMMIT_SHORT_SHA
    - docker push "$CI_REGISTRY"/zeta/zeta-client/zeta-sdk/testdriver-image:$RELEASE_VERSION-$CI_COMMIT_SHORT_SHA

trigger_helm:
  stage: image_build
  needs:
    - job: build-image-testdriver
      optional: true
  rules:
    # deploy to staging
    - if: '$CI_COMMIT_BRANCH == "develop"'
      variables:
        TESTDRIVER_IMAGE_TAG: "develop"
    - when: never
  trigger:
    project: zeta/devops/zeta-guard-helm
    # for testing, use something different than main
    branch: main
    strategy: depend


container_scan:
  # Enables https://docs.gitlab.com/ee/user/application_security/container_scanning/ (Container Scanning report is available on GitLab EE Ultimate or GitLab.com Gold)
  <<: *check_matrix
  artifacts:
    access: 'developer'
    expire_in: 1 week
    reports:
      container_scanning: gl-container-scanning-report.json
    paths:
      - gl-container-scanning-report.json
    when: always
  before_script: [ ]
  cache:
    paths:
      - .trivycache/
  needs:
    - job: build-image
    - job: build-image-testdriver
  image:
    name: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/aquasec/trivy:latest
    entrypoint: [ "" ]
  script:
    - trivy --version
    # update vulnerabilities db
    - time trivy image --download-db-only
    # Builds report and puts it in the default workdir $CI_PROJECT_DIR, so `artifacts:` can take it from there
    - time trivy image --exit-code 0 --format template --template "@/contrib/gitlab.tpl"
      --output "$CI_PROJECT_DIR/gl-container-scanning-report.json" "$FULL_IMAGE_NAME"
    # Prints full report
    - time trivy image --exit-code 0 "$FULL_IMAGE_NAME"
    # Fail on medium to critical vulnerabilities
    - time trivy image --exit-code 1 --severity "UNKNOWN,MEDIUM,HIGH,CRITICAL" "$FULL_IMAGE_NAME"
  stage: container_scan
  variables:
    GIT_STRATEGY: "none"
    TRIVY_USERNAME: "$CI_REGISTRY_USER"
    TRIVY_PASSWORD: "$CI_REGISTRY_PASSWORD"
    TRIVY_AUTH_URL: "$CI_REGISTRY"
    TRIVY_NO_PROGRESS: "true"
    TRIVY_CACHE_DIR: ".trivycache/"
    FULL_IMAGE_NAME: $CI_REGISTRY/zeta/zeta-client/zeta-sdk/$PLATFORM-image:$RELEASE_VERSION-$CI_COMMIT_SHORT_SHA
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop" && $RELEASE_VERSION_WEB == "latest"
      variables:
        SONAR_QUALITY_GATE_ENABLED: "false"
        RELEASE_VERSION: "develop-mr-$CI_COMMIT_SHORT_SHA"
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == "develop" && $RELEASE_VERSION_WEB == "latest"
      variables:
        SONAR_QUALITY_GATE_ENABLED: "false"
        RELEASE_VERSION: "develop"
      allow_failure: true
    - !reference [ .image_template, rules]
