*.iml
.gradle
.kotlin
build
build-cache
local.properties
.credentials
.idea
.venv*
.ruby*
.DS_Store*
/captures
.externalNativeBuild
.cxx
kotlin-js-store
build-cache
# ------------
# iOS projects
# ------------
*.podspec
# Pure iOS projects should commit their podspecs
!**/ios/*.podspec
Pods
# ------------

azure-configs.properties

.jenkins
.githubignore

